<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>On The Quizz</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="material-colors.css" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/lz-string@1.5"></script>
    <script src="https://unpkg.com/lucide@0"></script>
    <script type="text/javascript" src="main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main id="app" style="display: none">
      <div v-if="debug">
        <h1><i icon="notebook-pen"></i> On The Quizz</h1>
        <textarea v-model="debugData" rows="10"></textarea><br />
        <a v-if="debugData.length" :href="debugUrl" target="_blank"
          ><i icon="link"></i> Output link</a
        >
        <br />
        <br />
        <hr />
      </div>
      <div class="header" v-html="header"></div>
      <form @submit.prevent="submit">
        <template v-for="question, i in questions">
          <label :for="`input-${i}`" v-html="question.label"></label><br />
          <input
            type="text"
            v-if="question.answers.length == 1"
            v-model.lazy="question.value"
            :id="`input-${i}`"
            :name="`input-${i}`"
            :disabled="readonly"
            required
          />
          <template
            v-if="question.answers.length > 1 && question.answers.length <= 4"
            v-for="answer, j in question.answers"
          >
            <input
              type="radio"
              v-model="question.value"
              :id="`input-${i}-${j}`"
              :name="`input-${i}`"
              :value="answer"
              :disabled="readonly"
              required
            />
            &nbsp;
            <label :for="`input-${i}-${j}`" v-html="answer"></label><br />
          </template>
          <select
            v-if="question.answers.length > 4"
            v-model="question.value"
            :id="`input-${i}`"
            :name="`input-${i}`"
            :disabled="readonly"
            required
          >
            <option
              v-for="answer in question.answers"
              :value="answer"
              v-html="answer"
            ></option>
          </select>
          <br />
          <br
            v-if="question.answers.length == 1 || question.answers.length > 4"
          />
        </template>
        <button
          type="submit"
          :disabled="readonly || debug"
          v-html="submitText"
        ></button>
      </form>
      <template v-if="readonly || debug">
        <div
          class="green-800"
          v-if="debug || success"
          v-html="successText"
        ></div>
        <template v-if="debug || !success">
          <div class="red-800" v-html="failureText"></div>
          <br />
          <button @click="retry" v-html="retryText"></button>
        </template>
      </template>
    </main>
  </body>
</html>
