<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>On The Quizz</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="material-colors.css" />
    <script src="https://unpkg.com/lz-string@1.5"></script>
    <script src="https://unpkg.com/lucide@0"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script type="module" src="main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main id="app" style="display: none">
      <div v-if="debug">
        <h1><i icon="notebook-pen"></i> On The Quizz</h1>
        <div class="editor">
          <textarea
            class="numbers"
            :cols="editor.numbersCols"
            rows="10"
            readonly
            ref="numbers"
            v-model="editor.numbersText"
          ></textarea>
          <textarea
            class="code"
            v-model="debugData"
            ref="code"
            rows="10"
            @scroll="editorScroll"
          ></textarea>
          <div class="overlay">
            <textarea :cols="editor.numbersCols" rows="10" readonly></textarea>
            <textarea
              ref="overlay"
              class="code"
              rows="10"
              readonly
              v-model="editor.overlayText"
            ></textarea>
          </div>
        </div>
        <a v-if="debugUrl" :href="debugUrl" target="_blank"
          ><i icon="link"></i> Output link</a
        >
        <br />
        <br />
        <hr />
      </div>
      <div class="header" v-html="parsed.header"></div>
      <form @submit.prevent="submit">
        <template v-for="question, i in parsed.questions">
          <label :for="`input-${i}`" v-html="question.label"></label><br />
          <input
            type="text"
            v-if="question.answers.length == 1"
            v-model.lazy="answers[i]"
            :id="`input-${i}`"
            :name="`input-${i}`"
            :disabled="readonly"
            required
          />
          <template
            v-if="question.answers.length > 1 && question.answers.length <= 4"
            v-for="answer, j in question.answers"
          >
            <input
              type="radio"
              v-model="answers[i]"
              :id="`input-${i}-${j}`"
              :name="`input-${i}`"
              :value="answer"
              :disabled="readonly"
              required
            />
            &nbsp;
            <label :for="`input-${i}-${j}`" v-html="answer"></label><br />
          </template>
          <select
            v-if="question.answers.length > 4"
            v-model="answers[i]"
            :id="`input-${i}`"
            :name="`input-${i}`"
            :disabled="readonly"
            required
          >
            <option
              v-for="answer in question.answers"
              :value="answer"
              v-html="answer"
            ></option>
          </select>
          <br />
          <br
            v-if="question.answers.length == 1 || question.answers.length > 4"
          />
        </template>
        <button
          type="submit"
          :disabled="readonly || debug"
          v-html="parsed.submitText"
        ></button>
      </form>
      <template v-if="readonly || debug">
        <div
          class="green-800"
          v-if="debug || success"
          v-html="parsed.successText"
        ></div>
        <template v-if="debug || !success">
          <div class="red-800" v-html="parsed.failureText"></div>
          <br />
          <button @click="retry" v-html="parsed.retryText"></button>
        </template>
      </template>
    </main>
  </body>
</html>
